body {
    background-color: beige;
}

.btn {
    color: beige;
}

.newsList {
    padding-top: 50px;
}

.container {
    margin: 0 auto;
}

.col {
    border: 20px double #782121;
    min-height: 420px;
    padding: 0px;
    position: relative;
    box-shadow: 1px 1px;
    margin: 25px 0;
}

.col p {
    overflow: hidden;
    padding: 5px;
    text-indent: 20px;
    text-align: justify;
}

.col h5 {
    background-color: #A02121;
    color: beige;
    height: 75px;
    text-align: center;
}

.col a {
    position: absolute;
    right: 5px;
    bottom: 1px;
    text-decoration: none;
    color: #A02121;
}

.col img {
    object-fit: contain;
    height: 150px;
    width: 100%;
}